.margemAjustada{
    margin-top: 20px;
}

.formArea{
    margin: 1px solid;
    border-radius: 3px;
    border-color: black;
    max-width: 600px;
    margin-left: 20px;
}

.medidasBotao{
    max-width: 200px;
    min-width: 100px;
}

.required{
    color: red;
}